:root {
	--bg-light: oklch(0.95 0 279);
	--bg: oklch(0.9 0 279);
	--bg-dark: oklch(0.85 0 279);

	--text: oklch(0.2 0 279);

	--primary-accent: oklch(90.297% 0.05007 246.592);
	--primary-light: oklch(0.7 0.16 250);
	--primary: oklch(0.6 0.16 250);
	--primary-dark: oklch(0.5 0.16 250);
	--text-primary: oklch(100% 0.00011 271.152);

	--border: oklch(0.6 0 279);

	--darker-15: #00000015;
	--darker-30: #00000030;
	--darker-45: #00000045;
	--darker-60: #00000045;
	--darker-75: #00000045;

	--lighter-30: #ffffff30;
	--lighter-50: #ffffff50;
	--lighter-70: #ffffff70;

	--shadow-s: inset 0 1px 2px var(--lighter-30), 0 1px 2px var(--darker-15),
		0 2px 4px var(--darker-15);
	--shadow-m: inset 0 1px 2px var(--lighter-50), 0 2px 4px var(--darker-15),
		0 4px 8px var(--darker-15);
	--shadow-l: inset 0 1px 2px var(--lighter-70), 0 4px 6px var(--darker-15),
		0 6px 10px var(--darker-15);

	--inner-shadow-s: inset 0 4px 8px var(--darker-30),
		inset 0 2px 4px var(--darker-45), inset 0 1px 4px var(--darker-60);
	--inner-shadow-m: inset 0 8px 8px var(--darker-30),
		inset 0 4px 4px var(--darker-45), inset 0 2px 4px var(--darker-60);
	--inner-shadow-l: inset 0 12px 4px var(--darker-30),
		inset 0 8px 4px var(--darker-45), inset 0 4px 4px var(--darker-60);
}
