.spinner {
	position: relative;
	aspect-ratio: 1;
}

.line {
	padding: 8px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	border-radius: 50%;
	border: 4px solid transparent;
	border-top: 4px solid var(--primary);
}

.outer {
	animation: rotate 600ms infinite linear;
}

.middle {
	inset: calc(100% / 10);

	animation: rotate 500ms infinite linear;
}

.inner {
	inset: calc(100% / 5);

	animation: rotate 400ms infinite linear;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
