.burger-btn {
	height: 36px;
	width: 36px;
	z-index: 31;

	span {
		height: 4px;
		width: 32px;
		position: absolute;
		left: 2px;
		background-color: #565656;
		border-radius: 9999px;

		&:nth-child(1),
		&:nth-child(3) {
			transition: transform 200ms;
		}
		&:nth-child(1) {
			top: 6px;
		}
		&:nth-child(2) {
			top: 16px;
			transition: opacity 200ms;
		}
		&:nth-child(3) {
			top: 26px;
		}
	}

	&_close {
		& span {
			&:nth-child(1) {
				transform: translateY(10px) rotate(45deg);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(-10px) rotate(-45deg);
			}
		}
	}
}

.burger-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 30;
	background-color: var(--bg-light);
	padding: 48px 12px 0;
	width: 100%;

	&_open {
		display: flex;
	}
}

.burger-wrapper {
	height: 36px;
	width: 36px;
}
