.modal {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	background-color: transparent;
	background-color: var(--bg-light);
	border-radius: 6px;
	border: 1px solid var(--border);

	gap: 0.5rem;
}
