.shadow-s {
	box-shadow: var(--shadow-s);
}
.shadow-m {
	box-shadow: var(--shadow-m);
}
.shadow-l {
	box-shadow: var(--shadow-l);
}
.ishadow-s {
	box-shadow: var(--inner-shadow-s);
}
.ishadow-m {
	box-shadow: var(--inner-shadow-m);
}
.ishadow-l {
	box-shadow: var(--inner-shadow-l);
}
