.header-wrapper {
	display: grid;
	grid-template-columns: 2fr repeat(3, 1fr);

	width: 100%;

	@media (width < 64rem) {
		grid-template-columns: 2fr repeat(2, 1fr);
	}

	@media (width < 48rem) {
		grid-template-columns: 2fr 1fr;
	}
}
